.container {
	display: flex;
	flex-direction: row;
	align-items: self-start;
	padding: 0.5rem;
	background-color: #1db954;
	color: white;
	border-radius: 0.5rem;
	text-decoration: none;
}

.albumArt {
	max-height: 4rem;
	max-width: 4rem;
	border-radius: 0.25rem;
	margin-right: 0.5rem;
}

.logo {
	max-width: 2rem;
	margin-left: 0.5rem;
}

.songInfo {
	flex-grow: 1;
	min-width: 0;
	white-space: nowrap;
}

.songName {
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 1em;
	margin: 0;
	text-overflow: ellipsis;
	overflow-x: hidden;
}

.songArtist {
	font-weight: 400;
	font-size: 0.75rem;
	margin: 0;
}
