.container {
	position: relative;
}

.statusText {
	font-weight: 300;
	color: #666;
}

.activityText {
	text-decoration-style: dashed;
	text-decoration-line: underline;
}

.tooltipContainer {
	padding-top: 0.5rem;
	position: absolute;
	top: 100%;
	left: 0%;
	z-index: 1;
	width: 60ch;
}

.activityTooltip {
	background-color: var(--color-bg);
	border-radius: 0.5rem;
	box-shadow: rgb(200, 200, 200) 0 0 5px 1px;
}
