.userProfileContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.avatar {
	border-radius: 999999px;
	max-height: 4rem;
	max-width: 4rem;
	margin-right: 0.5rem;
}

.profileInfo {
	display: flex;
	flex-direction: column;
}

.customStatusContainer {
	display: inline;
}

.customStatusImage {
	height: 0.75em;
	margin-right: 0.25rem;
	display: inline;
}

.customStatusText {
	display: inline;
	font-weight: 300;
}
