---
import Navbar from "../../../../components/Navbar.astro";
import Layout from "../../../../layouts/Layout.astro";
---

<Layout title="Photos">
	<div class="container mx-auto w-full">
		<Navbar />
	</div>
</Layout>
