{
	"root": true,
	"plugins": ["solid"],
	"extends": [
		"neon/common",
		"neon/browser",
		"neon/typescript",
		"neon/astro",
		"neon/prettier",
		"plugin:solid/typescript"
	],
	"parserOptions": {
		"project": "./tsconfig.json"
	},
	"ignorePatterns": ["**/dist/*"],
	"overrides": [
		{
			"files": ["*.astro"],
			"parser": "astro-eslint-parser",
			"parserOptions": {
				"parser": "@typescript-eslint/parser"
			}
		}
	]
}
