---
import { getCollection } from "astro:content";
import { For } from "solid-js";
import Navbar from "../../components/Navbar.astro";
import Preview from "../../components/Preview.astro";
import Layout from "../../layouts/Layout.astro";

const posts = await getCollection("blog");
---

<Layout title="Blog">
  <div class="container mx-auto w-full px-4">
    <Navbar />
    <div class="flex flex-col gap-2">
      <For each={posts
          .sort(
            (a, b) =>
              b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
          )}>{(entry) => (
            <Preview path={`/blog/${entry.slug}`} title={entry.data.title} />
          )}</For>
    </div>
  </div>
</Layout>
