---
import Navbar from "../../components/Navbar.astro";
import Preview from "../../components/Preview.astro";
import PreviewGrid from "../../components/PreviewGrid.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Blog">
  <div class="container mx-auto w-full px-4">
    <Navbar />
    <PreviewGrid>
      <Preview path="/blog/2023/02/hello-world" title="Hello World" />
      <Preview
        path="/blog/2023/02/making-xkcd-discord-bot"
        title="Making an XCKD Discord Bot"
      />
    </PreviewGrid>
  </div>
</Layout>
