---
import Navbar from "../../components/Navbar.astro";
import Preview from "../../components/Preview.astro";
import PreviewGrid from "../../components/PreviewGrid.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Photos">
	<div class="container mx-auto w-full px-4">
		<Navbar />
		<PreviewGrid>
			<Preview
				path="/photos/2022/08/quinault"
				thumbnailUrl="https://cdn.wnelson.dev/photos/2022/quinault/regatta/DSC_0001.JPG?class=thumbnail"
				title="Lake Quinault"
			/>
			<Preview
				path="/photos/2022/09/harrison"
				thumbnailUrl="https://cdn.wnelson.dev/photos/2022/harrison/DSC_0082.JPG?class=thumbnail"
				title="Harrison Lake"
			/>
		</PreviewGrid>
	</div>
</Layout>
