---
import clsx from "clsx";
import IconButton from "../components/IconButton.astro";
import Statuses from "../components/Statuses.astro";
import Layout from "../layouts/Layout.astro";

export const prerender = false;

const mainClasses = clsx([
	"flex",
	"flex-col",
	"justify-center",
	"grow",
	"ma",
	"px-4",
	"max-w-2xl",
]);

const nameGradientClasses = clsx([
	"font-black",
	"bg-gradient-to-b",
	"from-violet-600",
	"to-teal-600",
	"bg-clip-text",
	"bg-[length:100%_300%]",
	"bg-left",
	"text-transparent",
	"animate-bg-pulse",
]);

const listArrowClasses = clsx(
	"relative",
	"w-fit",
	"text-stone-700",
	"dark:text-stone-300",
	"before:transition-left",
	"before:pointer-events-none",
	"before:absolute",
	"before:my-auto",
	"before:inset-y-0",
	"before:-left-8",
	"hover:before:-left-6",
	"before:i-fa-solid-arrow-right",
	"before:block",
	"before:content-empty",
	"before:w-4",
	"before:h-4",
);
---

<Layout title="Will Nelson">
	<main class={mainClasses}>
		<h1 class="text-6xl font-bold leading-tight">
			Hi, I'm <span class={nameGradientClasses}>Will</span>!
		</h1>
		<h2 class="font-light text-2xl">Software Engineer @ Discord</h2>
		<nav class="flex gap-3 mt-6">
			<IconButton
				href="mailto:me@wnelson.dev"
				iconClass="i-fa-solid-at hover:bg-violet-700"
				label="Email"
			/>
			<IconButton
				href="/resume.pdf"
				iconClass="i-mdi-resume hover:bg-slate-500"
				label="Resume"
			/>
			<IconButton
				href="https://github.com/appellation"
				iconClass="i-fa-brands-github hover:bg-[#2da44e]"
				label="Github"
			/>
			<IconButton
				href="https://bsky.wnelson.dev"
				iconClass="i-simple-icons-bluesky hover:bg-[rgb(0,133,255)]"
				label="Bluesky"
			/>
			<IconButton
				href="/discord"
				iconClass="i-fa-brands-discord hover:bg-[#5865F2]"
				label="Discord"
			/>
			<IconButton
				href="https://linkedin.com/in/williamonelson"
				iconClass="i-fa-brands-linkedin hover:bg-[#0077B5]"
				label="LinkedIn"
			/>
			<IconButton
				href="https://keybase.io/appellation"
				iconClass="i-fa-brands-keybase hover:bg-[#ff6f21]"
				label="Keybase"
			/>
		</nav>
		<div class="mt-12">
			<Statuses />
		</div>
		<nav class="mt-12 text-xl">
			<ul class="flex flex-col gap-1" role="list">
				<li class={listArrowClasses}>
					<a href="/blog">blog</a>
				</li>
			</ul>
		</nav>
	</main>
</Layout>
