---
import classNames from "classnames";

import Layout from "../layouts/Layout.astro";
import IconButton from "../components/IconButton.astro";
// import Profile from "../components/Profile";

const mainClasses = classNames([
	"flex",
	"flex-col",
	"justify-center",
	"grow",
	"ma",
	"px-4",
	"max-w-2xl",
]);

const nameGradientClasses = classNames([
	"font-black",
	"bg-gradient-to-b",
	"from-violet-600",
	"to-teal-600",
	"bg-clip-text",
	"bg-[length:100%_300%]",
	"bg-left",
	"text-transparent",
	"animate-bg-pulse",
]);
---

<Layout title="Will Nelson">
	<main class={mainClasses}>
		<h1 class="text-6xl font-bold leading-tight">
			Hi, I'm <span class={nameGradientClasses}>Will</span>!
		</h1>
		<h2 class="font-light text-2xl">Software Engineer @ Discord</h2>
		<!-- <div class="mt-6">
			<Profile client:load />
		</div> -->
		<ul role="list" class="flex gap-4 mt-12">
			<IconButton
				href="mailto:me@wnelson.dev"
				iconClass="i-fa-solid-at hover:bg-violet-700"
			/>
			<IconButton
				href="https://github.com/appellation"
				iconClass="i-fa-brands-github hover:bg-[#2da44e]"
			/>
			<IconButton
				href="/discord"
				iconClass="i-fa-brands-discord hover:bg-[#5865F2]"
			/>
			<IconButton
				href="https://linkedin.com/in/williamonelson"
				iconClass="i-fa-brands-linkedin hover:bg-[#0077B5]"
			/>
			<IconButton
				href="https://twitter.com/appelation_"
				iconClass="i-fa-brands-twitter hover:bg-[#1DA1F2]"
			/>
			<IconButton
				href="https://keybase.io/appellation"
				iconClass="i-fa-brands-keybase hover:bg-[#ff6f21]"
			/>
		</ul>
	</main>
</Layout>
