---
import classNames from "classnames";

import Layout from "../layouts/Layout.astro";
import IconButton from "../components/IconButton.astro";
import Statuses from "../components/Statuses";

const mainClasses = classNames([
	"flex",
	"flex-col",
	"justify-center",
	"grow",
	"ma",
	"px-4",
	"max-w-2xl",
]);

const nameGradientClasses = classNames([
	"font-black",
	"bg-gradient-to-b",
	"from-violet-600",
	"to-teal-600",
	"bg-clip-text",
	"bg-[length:100%_300%]",
	"bg-left",
	"text-transparent",
	"animate-bg-pulse",
]);
---

<Layout title="Will Nelson">
	<main class={mainClasses}>
		<h1 class="text-6xl font-bold leading-tight">
			Hi, I'm <span class={nameGradientClasses}>Will</span>!
		</h1>
		<h2 class="font-light text-2xl">Software Engineer @ Discord</h2>
		<nav class="flex gap-3 mt-6">
			<IconButton
				href="mailto:me@wnelson.dev"
				iconClass="i-fa-solid-at hover:bg-violet-700"
				label="Email"
			/>
			<IconButton
				href="/resume.pdf"
				iconClass="i-mdi-resume hover:bg-slate-500"
				label="Resume"
			/>
			<IconButton
				href="https://github.com/appellation"
				iconClass="i-fa-brands-github hover:bg-[#2da44e]"
				label="Github"
			/>
			<IconButton
				href="/discord"
				iconClass="i-fa-brands-discord hover:bg-[#5865F2]"
				label="Discord"
			/>
			<IconButton
				href="https://linkedin.com/in/williamonelson"
				iconClass="i-fa-brands-linkedin hover:bg-[#0077B5]"
				label="LinkedIn"
			/>
			<IconButton
				href="https://twitter.com/appellation_"
				iconClass="i-fa-brands-twitter hover:bg-[#1DA1F2]"
				label="Twitter"
			/>
			<IconButton
				href="https://keybase.io/appellation"
				iconClass="i-fa-brands-keybase hover:bg-[#ff6f21]"
				label="Keybase"
			/>
		</nav>
		<div class="mt-12">
			<Statuses client:idle />
		</div>
		<nav class="mt-12 text-xl">
			<ul role="list">
				<li class="list-arrow">
					<a href="/photos">photos</a>
				</li>
			</ul>
		</nav>
	</main>
</Layout>
