---
import Snake from "../components/Snake";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Snake">
	<div class="max-w-full w-128 max-h-full h-128 m-auto">
		<Snake client:idle />
	</div>
</Layout>
