---
import clsx from "clsx";

export interface Props {
	href: string;
	iconClass: string;
	label: string;
}

const { iconClass, href, label } = Astro.props;
---

<a href={href} aria-label={label}>
	<div class={clsx("text-3xl", "transition-colors", iconClass)}></div>
</a>
