---
import classNames from "classnames";

export interface Props {
	href: string;
	iconClass: string;
	label: string;
}

const { iconClass, href, label } = Astro.props;
---

<a href={href} aria-label={label}><div class={classNames("text-2xl", iconClass)}></div></a>
