---
import classNames from "classnames";

export interface Props {
	href: string;
	iconClass: string;
}

const { iconClass, href } = Astro.props;
---

<a href={href}><div class={classNames("text-2xl", iconClass)}></div></a>
