---
import { keyBy } from "lodash-es";

import { intersperse } from "../util";
import { getAllPages } from "../path";
import Dropdown from "./Dropdown";

const segments = Astro.url.pathname.split("/").filter((p) => p);

let pages = getAllPages().get(".")?.get("pages");
let prefix = "/";
---

<div class="my-6 text-lg text-stone-600 flex items-center gap-4">
	<a class="i-bi-folder-fill inline-block" href="/"></a>
	<div>/</div>
	{
		intersperse(
			segments.map((s) => {
				const keys = pages ? [...pages.keys()] : [];
				const links = keyBy(keys, (link) => prefix + link);

				prefix += `${s}/`;
				pages = pages?.get(s);

				return (
					<Dropdown client:load links={links} self={"/" + prefix}>
						{decodeURIComponent(s)}
					</Dropdown>
				);
			}),
			<div>/</div>
		)
	}
</div>
