---
import { fetchPhotos } from "../photos";

export interface Props {
	path: string;
}

const files = await fetchPhotos("/wnelson-cdn/photos", {
	replace: "/",
	recursive: false,
	path: Astro.props.path,
});
const contents = Object.values(files)[0];
---

<div class="flex flex-wrap gap-2">
	{
		Object.entries(contents.files).map(([path, photo]) => {
			return (
				<a href={`https://cdn.wnelson.dev/photos${path}`}>
					<img
						src={`https://cdn.wnelson.dev/photos${path}?class=thumbnail`}
						alt={photo.ObjectName}
						loading="lazy"
						width="250"
						height="200"
					/>
				</a>
			);
		})
	}
</div>
