---
export interface Props {
	path: string;
	thumbnailUrl?: string;
	title: string;
}
---

<a
	class="flex flex-col p-4 rounded-lg border-2 border-stone-300/50 hover:border-stone-300/75 bg-stone-100/50 hover:bg-stone-100/75"
	href={Astro.props.path}
>
	{Astro.props.thumbnailUrl && <img src={Astro.props.thumbnailUrl} />}
	<h2 class="text-2xl font-bold">{Astro.props.title}</h2>
	<h3 class="text-stone-500">{Astro.props.path}</h3>
</a>
