---
export interface Props {
	title: string;
}

const { title } = Astro.props;
const faviconUrl = new URL("/poggers.webp", Astro.url);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/poggers.webp" />
		<meta name="generator" content={Astro.generator} />

		<meta name="og:title" content="Will Nelson" />
		<meta name="og:description" content="Software engineer @ Discord" />
		<meta name="og:image" content={faviconUrl} />
		<meta name="og:url" content={Astro.url} />
		<meta name="og:type" content="profile" />
		<meta name="og:profile:first_name" content="Will" />
		<meta name="og:profile:last_name" content="Nelson" />
		<meta name="og:profile:username" content="appellation" />
		<meta name="og:profile:gender" content="male" />

		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@appellation_" />

		<title>{title}</title>
	</head>
	<body class="flex h-screen bg-stone-200 font-serif">
		<slot />
	</body>
</html>
